 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Dosis', sans-serif;
 }

 .video-1 {
    position:relative;
 }

 .video-1 video {
     top: 0; 
     left: 0;
     min-width: 100%;
     min-height: 100%;
     background-position:absolute;
     object-fit:cover;
 }

 .header-baslik {
     width: 75%;
     position: absolute; 
     top: 30px;
     left: 250px;
     border-radius: 20px;
     background-color: white;
 }

 ul li {
    display: inline-block;
 }

 #mayagtech-logo {
     height: 50px;
     width: 100px;
     float: left;
     margin-left: 30px;
     margin-right: 30px;
     margin-top: 20px;
     margin-bottom: 20px;
 }

.list-header {
    font-size: 1.15rem;
    padding: 15px;
    line-height: 36px;
    margin-top: 12px;
    margin-left: 100px;
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
}

 .list-header li{
    margin: 10px;
    list-style-type: none;
    display: inline;
}

 .list-header li a{
     text-decoration: none;
     list-style-type: none;
     margin: 10px;
     color: black;
 }

 .list-header li a:hover{
    color: red;
}

 #xag-logo {
     height: 46px;
     float: right;
     width: 100px;
     margin-top: 25px;
     margin-right: 20px;
     display: inline;
     align-items: flex-end;
    }

#england-logo {
    display: inline;
    height: 20px;
    width: 25px;
}

.ürünler {
    margin: 100px;
}

.ürünler h1 {
    text-align: center;
    font-size: 3rem;
}

.ürünler-tek {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

.ürünler-tek li {
    list-style-type: none;
    margin: 15px;
}

.ürünler-tek li a{
    padding-top: 100px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

#ürün-1, #ürün-2, #ürün-3, #ürün-4, #ürün-5 {
    display: block;
    height: 190px;
    width: 290px;
}

.ürünler-tek li a:hover{
    text-decoration: underline;
    color: black;
}

.gelismeler-baslik {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}

.gelisme-madde ul {
    display: flex;
    margin-left: 25px;
}

.gelisme-madde ul li {
    float: left;
    margin-left: 3px;
}

.gelisme-madde img{
    width: 372px;
    height: 465px;
}

.gelisme-madde ul li a{
    font-size: 1.4rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712);
}

.gelisme-madde ul li a:hover{
    font-size: 2rem;
    text-decoration: underline;
    color: black;
}

/* .partnerler {
    display: flex;
} */

.partner-baslik {
    margin: 80px;
    text-align: center;
}

/* margin: üst sağ alt sol(saat yönünde) */

.partnerler-logo {
    margin-left: 300px;
}

.partnerler-logo img{
    margin-left: 80px;
    height: 200px;
    width: 220px;
    display: inline;
}

#bayer{
    height: 260px;
    width: 260px;
}

#south{
    height: 180px;
    width: 180px;
    margin-bottom: 28px;
}

#xinj{
    height: 180px;
    width: 180px;
    margin-bottom: 28px;
}

#harper{
    height: 160px;
    width: 360px;
    margin-bottom: 28px;
}

footer.footer {
    background-color: rgba(128, 128, 128, 0.103);
    padding-bottom: 50px;
    background-position:absolute;
    object-fit:cover;
}

.linkler {
    font-size: 14px;
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
}

.linkler .kurumsal {
    margin-top: 50px;
}

.linkler .ürünler{ 
    margin-top: 50px;
}

.linkler .blog{ 
    margin-top: 50px;
}

.linkler li{
    display: block;
    margin-top: 8px;
}

.linkler li a{
    text-decoration: none;
    color: black;
}

.sosyal-medya {
    display: block;
    margin-left: 350px;
    margin-top: 50px;
}

.sosyal-medya h3{
    text-align: center;
    margin-bottom: 30px;
}

.sosyal-medya img{
    width: 80px;
    height: 120px;
}

.linkler li a:hover {
    color: red;
}


.xag-hakkı {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
}



